<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Reviewer Recommendation Tool">
    <meta name="author" content="Data Systems Lab|University of Tartu">
    <title>Minaret|Reviewer Recommendation Tool</title>
    <link rel="icon" href="/minaret/{% static 'images/logo.ico' %}">
    <!-- Bootstrap core CSS -->
    <link href="/minaret/{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="/minaret/{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <!-- Scripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/minaret/{% static 'js/celery_progress.js' %}"></script>

    <!-- Theme -->
    <link href="/minaret/{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/minaret/{% static 'css/portfolio-item.css' %}">
    <link rel="stylesheet" type="text/css" href="/minaret/{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="/minaret/{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">

    <style>
        .progress {
            width:100%;
            background:grey;
        }
       .bar {
           height:20px;
           width:0%;
           background:blue;
           text-align:right;
       }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href=".." style="margin:0 auto;"><img src="/minaret/{% static 'images/logo.png' %}" width="170px"></a>
</nav>
<!-- Nav bar -->

<!-- MAIN CONTENT -->
<div id="wrap" class="content">
    <div class="container" style="margin-top:70px;">
	<div class="page-header" style="margin-bottom:70px">
            <h2>Collecing Results<small> for entered manuscript:</small></h2>
            <span>Searching for Candidate Reviewers is <span id="results-status"></span>!:</span>
        </div>

        <div class="row" style = "margin:0 auto;">
		<div class="status"></div>
		   {% if task_id %}
		   <div class="progress">
		   	<div class="bar"></div>
		   </div>
		   {% endif %}
		</div>
		<input id="returnBtn" type=button value="Show Results" style="visibility:hidden; margin-top:10px;"onClick=""location.href='minaret/showResults';"">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script type="text/javascript">
		   var poll_xhr;
		   var willstop = 0;
		   (function(){
	   		var poll = function(){
		        var json_dump = "{{ data }}";
		        var task_id = "{{task_id}}";
		        console.log(task_id);
	      		document.getElementById("results-status").textContent="IN PROGRESS"
		        poll_xhr = $.ajax({
			        url:'/minaret/poll_state/',
		        	type: 'POST',
			        data: {
			            task_id: task_id,
            			    csrfmiddlewaretoken: "{{csrf_token}}",
        			},
			        success: function(result) {
		        	    document.getElementById("results-status").textContent=result
	        	            if (result.process_percent == null || result.process_percent == undefined) {
        	        	        willstop = 1;
	               	        	document.getElementById("results-status").textContent="DONE";
        	                	jQuery('.bar').css({'width': 100 + '%'});
	        	                jQuery('.bar').html(100 + '%');
					window.location.href = "https://bigdata.cs.ut.ee/minaret/showResults/";
	                	    } else {
        	                	jQuery('.bar').css({'width': result.process_percent + '%'});
	        	                jQuery('.bar').html(result.process_percent + '%');
        	        	        document.getElementById("results-status").textContent="IN PROGRESS";
	                       	    };
        	                }
      			});
	    	   };
    		   var refreshIntervalId = setInterval(function() {
	               poll();
        	       if(willstop == 1){
	        	   clearInterval(refreshIntervalId);
	      	       }
    		   },500);
	           })();
		</script>
	    </div>
	</div>
</div>
<!-- MAIN CONTENT -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <center>
            <div class="contact100-form-social flex-c-m">
                <a href="#" class="contact100-form-social-item flex-c-m bg1 m-r-5">
                    <i class="fa fa-facebook-f" aria-hidden="true"></i>
                </a>

                <a href="#" class="contact100-form-social-item flex-c-m bg2 m-r-5">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>

                <a href="#" class="contact100-form-social-item flex-c-m bg3">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </div>
        </center>
        <p class="m-0 text-center text-white">Copyright &copy; Data Systems Lab - University of Tartu</p>
    </div>
    <!-- /.container -->
</footer>
<!-- Footer -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/boot-business.js' %}"></script>
</body>
</html>

